.list {
	/* background: red; */
	.header {
		color: green;
	}
}

.listItem {
	display: flex;
	align-items: center;
	border: 1px solid #cdcdcd;
	padding: 5px 20px;
	background: #fff;
	&:not(:last-child) {
		border-bottom: 0;
	}
}

.listItemInfo {
	padding: 0 0 0 15px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0 0 8px 0;
	}
}
