.checkBox {
	width: 20px;
	height: 20px;
	background: #fff;
	border: 1px solid #939393;
	border-radius: 2px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	input {
		margin: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}

	img {
		width: 80%;
		display: none;
	}

	input:checked + img {
		display: block;
	}
}
