@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");

html {
	background: #e8f9ff;
}

html,
body {
	margin: 0;
	font-family: "Lato", sans-serif;
}

body {
	padding: 10px;
}
